
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
    </head>
    <body>
      <div>
        <% if (typeof username !== 'undefined' && typeof email !== 'undefined') { %>
              <% if (username.length !==0 && email.length !==0 ) { %>
              <p class="success"><%=username%> accessed with <%=email%></p>
              <% } %>
          <% } %>
      </div>
    </body>
  </html>
  
  