<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>

<body>
    <div>
        <form method="post" action="/regi">
            Name:<input type="text" name="username" />
            Email:<input type="email" name="email" />
            Password:<input type="password" name="password" />
            <input type="submit" />
        </form>

        <!-- There are some probelms are things I have to look at 
         What if user already have an account and tries to login.
         Then the value of passong userid and  username won't be useful. 
        -->

        <!-- <form method="get" action="/login">
            Already have a account?<input type="submit" value="Login" />
        </form> -->


    </div>
</body>

</html>