<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <form method="post" action="/adddata">
        <label for="Name">Name :<br>
            <input type="text" name="username" placeholder="add name"> <br>
        <label for="Email">Email : <br>
            <input type="text" name="email" placeholder="add name"> <br>
        </label>
        <label for="Phonenumber">Phonenumber : <br>
            <input type="text" name="phone" placeholder="add name"><br>
        </label>
        <label for="address">Address : <br>
            <input type="text" name="address" placeholder="add name"><br>
        </label>
        <br>
        <button type="submit" formaction="/adddata" > Submit</button><br>

        <ul>
            <%result.forEach((element) => { %>
                <li><%=element.name %></li>
                <li><%=element.email %></li>
                <li><%=element.phone %></li>
                <li><%=element.address %></li>
                
           <% }); %>
        </ul>
    </form>

</div>
</body>
</html>